.portfolio-item-text{
    text-align: center;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-size: 25px;
}

.usmb{
    border-radius: 1rem;
}

.mate-name{
    text-align: center;
    font-weight: bold;
}

.mate-description{
    text-align: justify;
}
